Webservice（BBS）/BBS_user（网页）/App_WebReferences/localhost/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckUserResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Register">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="regedit" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RegisterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegisterResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNewList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sort" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNewListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNewListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTitle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTitleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTitleResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSortList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sort" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSortListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSortListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AppearTitle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cont" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="group" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nick" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="exp" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AppearTitleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AppearTitleResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterNote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterNoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AlterNoteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelNote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelNoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DelNoteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AppearRes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nick" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AppearResResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AppearResResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContentResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckSubject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckSubjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckSubjectResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NewSubject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NewSubjectResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetSubjectID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSubjectIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetSubjectIDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShowSubjects">
        <s:complexType />
      </s:element>
      <s:element name="ShowSubjectsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShowSubjectsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBallotRes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBallotResResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBallotResResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateBallot">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OptionId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="SubjectId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateBallotResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddBallotItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SubjectId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="OptionName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddBallotItemResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteSubject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="subjectId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteSubjectResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetUserInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserInfoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userInfor" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateUserResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserTitle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="group" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserTitleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserTitleResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserRes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserResResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserResResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="CheckUserSoapIn">
    <wsdl:part name="parameters" element="tns:CheckUser" />
  </wsdl:message>
  <wsdl:message name="CheckUserSoapOut">
    <wsdl:part name="parameters" element="tns:CheckUserResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterSoapIn">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="RegisterSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="GetNewListSoapIn">
    <wsdl:part name="parameters" element="tns:GetNewList" />
  </wsdl:message>
  <wsdl:message name="GetNewListSoapOut">
    <wsdl:part name="parameters" element="tns:GetNewListResponse" />
  </wsdl:message>
  <wsdl:message name="GetTitleSoapIn">
    <wsdl:part name="parameters" element="tns:GetTitle" />
  </wsdl:message>
  <wsdl:message name="GetTitleSoapOut">
    <wsdl:part name="parameters" element="tns:GetTitleResponse" />
  </wsdl:message>
  <wsdl:message name="GetSortListSoapIn">
    <wsdl:part name="parameters" element="tns:GetSortList" />
  </wsdl:message>
  <wsdl:message name="GetSortListSoapOut">
    <wsdl:part name="parameters" element="tns:GetSortListResponse" />
  </wsdl:message>
  <wsdl:message name="AppearTitleSoapIn">
    <wsdl:part name="parameters" element="tns:AppearTitle" />
  </wsdl:message>
  <wsdl:message name="AppearTitleSoapOut">
    <wsdl:part name="parameters" element="tns:AppearTitleResponse" />
  </wsdl:message>
  <wsdl:message name="AlterNoteSoapIn">
    <wsdl:part name="parameters" element="tns:AlterNote" />
  </wsdl:message>
  <wsdl:message name="AlterNoteSoapOut">
    <wsdl:part name="parameters" element="tns:AlterNoteResponse" />
  </wsdl:message>
  <wsdl:message name="DelNoteSoapIn">
    <wsdl:part name="parameters" element="tns:DelNote" />
  </wsdl:message>
  <wsdl:message name="DelNoteSoapOut">
    <wsdl:part name="parameters" element="tns:DelNoteResponse" />
  </wsdl:message>
  <wsdl:message name="AppearResSoapIn">
    <wsdl:part name="parameters" element="tns:AppearRes" />
  </wsdl:message>
  <wsdl:message name="AppearResSoapOut">
    <wsdl:part name="parameters" element="tns:AppearResResponse" />
  </wsdl:message>
  <wsdl:message name="GetContentSoapIn">
    <wsdl:part name="parameters" element="tns:GetContent" />
  </wsdl:message>
  <wsdl:message name="GetContentSoapOut">
    <wsdl:part name="parameters" element="tns:GetContentResponse" />
  </wsdl:message>
  <wsdl:message name="CheckSubjectSoapIn">
    <wsdl:part name="parameters" element="tns:CheckSubject" />
  </wsdl:message>
  <wsdl:message name="CheckSubjectSoapOut">
    <wsdl:part name="parameters" element="tns:CheckSubjectResponse" />
  </wsdl:message>
  <wsdl:message name="NewSubjectSoapIn">
    <wsdl:part name="parameters" element="tns:NewSubject" />
  </wsdl:message>
  <wsdl:message name="NewSubjectSoapOut">
    <wsdl:part name="parameters" element="tns:NewSubjectResponse" />
  </wsdl:message>
  <wsdl:message name="GetSubjectIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetSubjectID" />
  </wsdl:message>
  <wsdl:message name="GetSubjectIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetSubjectIDResponse" />
  </wsdl:message>
  <wsdl:message name="ShowSubjectsSoapIn">
    <wsdl:part name="parameters" element="tns:ShowSubjects" />
  </wsdl:message>
  <wsdl:message name="ShowSubjectsSoapOut">
    <wsdl:part name="parameters" element="tns:ShowSubjectsResponse" />
  </wsdl:message>
  <wsdl:message name="GetBallotResSoapIn">
    <wsdl:part name="parameters" element="tns:GetBallotRes" />
  </wsdl:message>
  <wsdl:message name="GetBallotResSoapOut">
    <wsdl:part name="parameters" element="tns:GetBallotResResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateBallotSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateBallot" />
  </wsdl:message>
  <wsdl:message name="UpdateBallotSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateBallotResponse" />
  </wsdl:message>
  <wsdl:message name="AddBallotItemSoapIn">
    <wsdl:part name="parameters" element="tns:AddBallotItem" />
  </wsdl:message>
  <wsdl:message name="AddBallotItemSoapOut">
    <wsdl:part name="parameters" element="tns:AddBallotItemResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSubjectSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteSubject" />
  </wsdl:message>
  <wsdl:message name="DeleteSubjectSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteSubjectResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="UpdateUserSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserTitleSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserTitle" />
  </wsdl:message>
  <wsdl:message name="GetUserTitleSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserTitleResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserResSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserRes" />
  </wsdl:message>
  <wsdl:message name="GetUserResSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserResResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="Login">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">该方法用于实现用户登录</wsdl:documentation>
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">检测用户是否存在</wsdl:documentation>
      <wsdl:input message="tns:CheckUserSoapIn" />
      <wsdl:output message="tns:CheckUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">注册</wsdl:documentation>
      <wsdl:input message="tns:RegisterSoapIn" />
      <wsdl:output message="tns:RegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNewList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获得最新的主题</wsdl:documentation>
      <wsdl:input message="tns:GetNewListSoapIn" />
      <wsdl:output message="tns:GetNewListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTitle">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">通过主题的ID来获得该主题的标题、内容等信息，将信息传给前台代码</wsdl:documentation>
      <wsdl:input message="tns:GetTitleSoapIn" />
      <wsdl:output message="tns:GetTitleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSortList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获得特定组的主题贴</wsdl:documentation>
      <wsdl:input message="tns:GetSortListSoapIn" />
      <wsdl:output message="tns:GetSortListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AppearTitle">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">发表新主题</wsdl:documentation>
      <wsdl:input message="tns:AppearTitleSoapIn" />
      <wsdl:output message="tns:AppearTitleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AlterNote">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">修改数据库中的主题信息</wsdl:documentation>
      <wsdl:input message="tns:AlterNoteSoapIn" />
      <wsdl:output message="tns:AlterNoteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DelNote">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">删除帖子</wsdl:documentation>
      <wsdl:input message="tns:DelNoteSoapIn" />
      <wsdl:output message="tns:DelNoteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AppearRes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">回复主题信息</wsdl:documentation>
      <wsdl:input message="tns:AppearResSoapIn" />
      <wsdl:output message="tns:AppearResSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获得主题回复信息</wsdl:documentation>
      <wsdl:input message="tns:GetContentSoapIn" />
      <wsdl:output message="tns:GetContentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckSubject">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据传入的主题名，检查该投票主题是否存在</wsdl:documentation>
      <wsdl:input message="tns:CheckSubjectSoapIn" />
      <wsdl:output message="tns:CheckSubjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NewSubject">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">新增投票主题</wsdl:documentation>
      <wsdl:input message="tns:NewSubjectSoapIn" />
      <wsdl:output message="tns:NewSubjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSubjectID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据投票主题名，获得该投票的ID</wsdl:documentation>
      <wsdl:input message="tns:GetSubjectIDSoapIn" />
      <wsdl:output message="tns:GetSubjectIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShowSubjects">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">显示当前存在的所有投票主题</wsdl:documentation>
      <wsdl:input message="tns:ShowSubjectsSoapIn" />
      <wsdl:output message="tns:ShowSubjectsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBallotRes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获得当前投票结果</wsdl:documentation>
      <wsdl:input message="tns:GetBallotResSoapIn" />
      <wsdl:output message="tns:GetBallotResSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBallot">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">更新投票项</wsdl:documentation>
      <wsdl:input message="tns:UpdateBallotSoapIn" />
      <wsdl:output message="tns:UpdateBallotSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddBallotItem">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">在新投票主题中增加投票项</wsdl:documentation>
      <wsdl:input message="tns:AddBallotItemSoapIn" />
      <wsdl:output message="tns:AddBallotItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSubject">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">通过主题名删除投票</wsdl:documentation>
      <wsdl:input message="tns:DeleteSubjectSoapIn" />
      <wsdl:output message="tns:DeleteSubjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获得用户信息</wsdl:documentation>
      <wsdl:input message="tns:GetUserInfoSoapIn" />
      <wsdl:output message="tns:GetUserInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">更新用户信息</wsdl:documentation>
      <wsdl:input message="tns:UpdateUserSoapIn" />
      <wsdl:output message="tns:UpdateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserTitle">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获得用户发表的主题</wsdl:documentation>
      <wsdl:input message="tns:GetUserTitleSoapIn" />
      <wsdl:output message="tns:GetUserTitleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserRes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获得用户回复</wsdl:documentation>
      <wsdl:input message="tns:GetUserResSoapIn" />
      <wsdl:output message="tns:GetUserResSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUser">
      <soap:operation soapAction="http://tempuri.org/CheckUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewList">
      <soap:operation soapAction="http://tempuri.org/GetNewList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTitle">
      <soap:operation soapAction="http://tempuri.org/GetTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSortList">
      <soap:operation soapAction="http://tempuri.org/GetSortList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppearTitle">
      <soap:operation soapAction="http://tempuri.org/AppearTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterNote">
      <soap:operation soapAction="http://tempuri.org/AlterNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelNote">
      <soap:operation soapAction="http://tempuri.org/DelNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppearRes">
      <soap:operation soapAction="http://tempuri.org/AppearRes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContent">
      <soap:operation soapAction="http://tempuri.org/GetContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckSubject">
      <soap:operation soapAction="http://tempuri.org/CheckSubject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewSubject">
      <soap:operation soapAction="http://tempuri.org/NewSubject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubjectID">
      <soap:operation soapAction="http://tempuri.org/GetSubjectID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowSubjects">
      <soap:operation soapAction="http://tempuri.org/ShowSubjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBallotRes">
      <soap:operation soapAction="http://tempuri.org/GetBallotRes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBallot">
      <soap:operation soapAction="http://tempuri.org/UpdateBallot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBallotItem">
      <soap:operation soapAction="http://tempuri.org/AddBallotItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSubject">
      <soap:operation soapAction="http://tempuri.org/DeleteSubject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap:operation soapAction="http://tempuri.org/GetUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserTitle">
      <soap:operation soapAction="http://tempuri.org/GetUserTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserRes">
      <soap:operation soapAction="http://tempuri.org/GetUserRes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUser">
      <soap12:operation soapAction="http://tempuri.org/CheckUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewList">
      <soap12:operation soapAction="http://tempuri.org/GetNewList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTitle">
      <soap12:operation soapAction="http://tempuri.org/GetTitle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSortList">
      <soap12:operation soapAction="http://tempuri.org/GetSortList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppearTitle">
      <soap12:operation soapAction="http://tempuri.org/AppearTitle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterNote">
      <soap12:operation soapAction="http://tempuri.org/AlterNote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelNote">
      <soap12:operation soapAction="http://tempuri.org/DelNote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppearRes">
      <soap12:operation soapAction="http://tempuri.org/AppearRes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContent">
      <soap12:operation soapAction="http://tempuri.org/GetContent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckSubject">
      <soap12:operation soapAction="http://tempuri.org/CheckSubject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewSubject">
      <soap12:operation soapAction="http://tempuri.org/NewSubject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubjectID">
      <soap12:operation soapAction="http://tempuri.org/GetSubjectID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowSubjects">
      <soap12:operation soapAction="http://tempuri.org/ShowSubjects" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBallotRes">
      <soap12:operation soapAction="http://tempuri.org/GetBallotRes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBallot">
      <soap12:operation soapAction="http://tempuri.org/UpdateBallot" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBallotItem">
      <soap12:operation soapAction="http://tempuri.org/AddBallotItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSubject">
      <soap12:operation soapAction="http://tempuri.org/DeleteSubject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap12:operation soapAction="http://tempuri.org/GetUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap12:operation soapAction="http://tempuri.org/UpdateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserTitle">
      <soap12:operation soapAction="http://tempuri.org/GetUserTitle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserRes">
      <soap12:operation soapAction="http://tempuri.org/GetUserRes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost/BBS/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost/BBS/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>